<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		theme by <a href="https://github.com/litten/hexo-theme-yilia" target="_blank"> Litten</a> & resume by <a href="http://heeroluo.net/"> Heero.Luo </a>
      	</div>
    </div>
  </div>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?d8e27b2ea45cb020c0f336ee68f2db01";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>

</footer>