<div style="width:100%;height:50px;line-height:50px;text-align:center;border-bottom:1px solid #fdbc40;background:#fff6dd;color:#ff742a;">提示：简历更新于 2015年10月份！</div>
<div class="resumeContent">
		<div class="main">
	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">专注前端，熟悉后端</h2>
				<h3 class="section__header__subtitle"><script>document.write((new Date).getFullYear() - 2015);</script>年前端开发经验</h3>
			</header>
			<div class="section-body">
				<ul class="tech-skill-list">
					<li class="tech-skill-list__item tech-skill-list__item-javascript tech-skill-list__item--mastered">
						<h4 class="tech-skill-list__item__name">HTML+CSS</h4>
<!-- 						<div class="tech-skill-list__item__detail fade">
							<ul class="list">
								<li>精通原生Javascript，能脱离jQuery等类库编码；</li>
								<li>能运用模块化、面向对象的方式编程；</li>
								<li>熟悉正则表达式的使用；</li>
								<li>编写过功能全面的Javascript基础类库。</li>
							</ul>
						</div> -->
					</li>
					<li class="tech-skill-list__item tech-skill-list__item-html-and-css tech-skill-list__item--mastered">
						<h4 class="tech-skill-list__item__name">Photoshop / Flash</h4>
<!-- 						<div class="tech-skill-list__item__detail fade">
							<ul class="list">
								<li>能使用合适的结构编写兼容主流浏览器的页面布局；</li>
								<li>了解HTML 5新标签的语义；</li>
								<li>能适当运用CSS 3使页面在现代浏览器上效果更佳；</li>
								<li>能熟练使用Chrome开发者工具、FireBug、Fiddler等工具辅助开发；</li>
								<li>有移动端页面（App内嵌页面）开发经验。</li>
							</ul>
						</div> -->
					</li>
					<li class="tech-skill-list__item tech-skill-list__item-nodejs tech-skill-list__item--practised">
						<h4 class="tech-skill-list__item__name">JQuery / zepto</h4>
<!-- 						<div class="tech-skill-list__item__detail fade">
							<ul class="list">
								<li>能根据前端业务需求开发对应的辅助工具；</li>
								<li>熟悉基于Express框架的Web开发。</li>
							</ul>
						</div> -->
					</li>
					<li class="tech-skill-list__item tech-skill-list__item-aspdotnet tech-skill-list__item--practised">
						<h4 class="tech-skill-list__item__name">Vue.JS / React / React Native</h4>
<!-- 						<div class="tech-skill-list__item__detail fade">
							<ul class="list">
								<li>熟悉基于WebForm和ASP.NET MVC的Web开发；</li>
								<li>编写过一套简单的基于ADO.NET的ORM类库。</li>
							</ul>
						</div> -->
					</li>
					<li class="tech-skill-list__item tech-skill-list__item-sql tech-skill-list__item--practised">
						<h4 class="tech-skill-list__item__name">Bootstrap</h4>
<!-- 						<div class="tech-skill-list__item__detail fade">
							<ul class="list">
								<li>能熟练设计CMS、Blog等常见Web应用的数据库；</li>
								<li>熟悉SQL Server、MySQL、SQLite的使用；</li>
								<li>能编写简单的存储过程和触发器。</li>
							</ul>
						</div> -->
					</li>
					<li class="tech-skill-list__item tech-skill-list__item-photoshop">
						<h4 class="tech-skill-list__item__name">PHP+MYSQL</h4>
<!-- 						<div class="tech-skill-list__item__detail fade">
							<ul class="list">
								<li>能进行简单的图片处理和平面设计；</li>
								<li>能制作动画GIF；</li>
								<li>能根据图片特征存成最优的格式。</li>
							</ul>
						</div> -->
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">对Web充满热情</h2>
				<h3 class="section__header__subtitle">学生时代就踏上了前端开发之路</h3>
			</header>
			<div class="section-body clearfix">
				<div class="edu edu-seniorschool">
					<div class="edu__body clearfix">
						<a href="http://www.tianshi.edu.cn/" target="_blank">
							<img src="/picture/edu-logo-gz86zhong.png" alt="天津天狮学院" class="edu__logo" />
						</a>
						<p>2011年9月至2014年6月在天津天狮学院修读<strong>计算机应用技术</strong>专业，在校期间设计了一些网站相关的作品，参加了比赛，曾获以下奖项：</p>
						<ul class="list">
							<li>2012年 天津天狮学院网页设计大赛特等奖</li>
							<li>2013年 天津天狮学院三等奖学金</li>
							<li>2014年 天津天狮学院计算机设计大赛二等奖</li>
							<li>2014年 全国大学生计算机设计大赛三等奖</li>
						</ul>
					</div>
				</div>
				<div class="edu edu-university">
					<div class="edu__body clearfix">
						<a href="http://www.tjpu.edu.cn/" target="_blank">
							<img src="/picture/edu-logo-scnu.png" alt="天津工业大学" class="edu__logo" />
						</a>
						<p>2014年9月至2016年6月在<strong>天津工业大学</strong>修读<strong>软件工程</strong>专业，目前<strong>在读</strong>，于<strong>2016年</strong>正式毕业。在校期间有如下学习经历：</p>
						<ul class="list">
							<li>2015年1月-2015年6月，在Oracle接受专业技能培训，培训方向：网站开发与优化。</li>
							<li>2015年7月-2016年1月，在PHPChina接受专业技能培训，培训方向：PHP应用开发。</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

			<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">曾在以下互联网公司任职</h2>
				<h3 class="section__header__subtitle"></h3>
			</header>
			<div class="section-body">
				<div class="work-exp-list">
<!-- 					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>现在</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.mdl.com/" target="_blank" class="work-exp-list__company__header__logo"><img src="picture/mdl-logo.png" alt="广州绽放信息科技有限公司" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #fb7c6b;" href="http://www.mdl.com/" target="_blank">广州绽放信息科技有限公司</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">高级前端开发工程师</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>前端负责人。<strong>搭建了前端的整体架构</strong>，包括：</p>
							<ul class="list">
								<li>制定前端静态资源目录结构和代码发布流程；</li>
								<li>根据前者开发代码构建工具，简化发布操作；</li>
								<li>开发前后端中间平台，分离前后端职责，提高开发效率。</li>
							</ul>
							<p>此外，还负责美黛拉App内嵌页面和PC网站的开发。</p>
						</div>
					</section> -->
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>现在</div>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2014/6~2014/9</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="" target="_blank" class="work-exp-list__company__header__logo"><img src="/picture/56-logo.png" alt="天津楚天网络服务公司" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #0562a5;" href="" target="_blank">天津楚天网络服务有限公司</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">前端开发</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>1. 结合当下主流的CMS系统，<strong>Aspcms</strong>、<strong>Dedecms</strong>、<strong>Siteserver cms</strong>等，采用<strong>div+css</strong>
							前端技术进行企业网站建设。</p>
							<p>2. 使用<strong>Photoshop</strong>、<strong>CorelDRAW</strong>等图像处理软件，设计LOGO、网页效果图，并完成切图
							和专题页的制作。</p>
							<p>3. 使用<strong>Php+Mysql</strong>协助进行网站功能模块开发。</p>

							<p><strong>离职原因：</strong> 因学校开课，时间不太充裕而离职。</p>
						</div>
					</section>
					<!-- <div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2014/6</div> -->
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2012/9~2013/1</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="" target="_blank" class="work-exp-list__company__header__logo"><img src="/picture/bamboonetworks-logo.png" alt="" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #008558;" href="">天津腾远万维广告有限公司</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">前端开发</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>	1. 采用<strong>PhoneGap</strong>框架通过WEB开发技术开发移动应用程序。</p>
							<p>	2. 使用<strong>DIV+CSS</strong>、<strong>JS</strong>等前端技术编写APP界面。</p>
							<p>	3. 使用<strong>Photoshop</strong>、<strong>Illustrator</strong>、<strong>CorelDRAW</strong>等绘图软件设计APP UI、公司网站banner、海报等。</p>
							<p><strong>离职原因：</strong> 因准备高职升本考试，从公司离职。</p>

						</div>
					</section>

					<!-- <div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2012/9</div> -->
				</div>
			</div>
		</div>
	</section>

		<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">项目经验</h2>
				<h3 class="section__header__subtitle"></h3>
			</header>
			<div class="section-body">
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">天津古文化街</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list__item tech-tag-list__item-html">div+css</li>
								<li class="tech-tag-list__item tech-tag-list__item-javascript">photoshop</li>
								<li class="tech-tag-list__item tech-tag-list__item-css">Jquery</li>
								<li class="tech-tag-list__item tech-tag-list__item-nodejs">ASPCMS</li>
							</ul>
							<p class="project__intro__header__period">2014/6 至 2014/8</p>
						</header>
						<p>1. 作为津门十景之一，天津古文化街一直坚持“中国味，天津味，文化味，古味”经营特色，以经营文化用品为主。</p>
						<p>2. <strong>网站UI设计</strong>采用复古色调，充分展现古文化街的历史气息。</p>
						<p>3. 网站后端是采用<strong>ASPCMS</strong>开源建站系统，包含基本的功能模块，前端调用标签生成整站。</p>
					</div>
					<div class="project__thumb">
						<img src="/picture/project-jraiser.png" alt="天津古文化街" />
					</div>
				</section>
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">码农地带（个人网站博客）</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list__item tech-tag-list__item-html">div+css</li>
								<li class="tech-tag-list__item tech-tag-list__item-javascript">photoshop</li>
								<li class="tech-tag-list__item tech-tag-list__item-css">Jquery</li>
								<li class="tech-tag-list__item tech-tag-list__item-javascript">Bootstrap</li>
								<li class="tech-tag-list__item tech-tag-list__item-nodejs">帝国CMS</li>
							</ul>
							<p class="project__intro__header__period">2015/10 至今</p>
						</header>
						<p>1. 网站功能：<strong>代码笔记</strong>、<strong>作品展示</strong>、<strong>前端模板分享</strong>、<strong>个人简历展示</strong>等。</p>
						<p>2. 前端界面采用宽屏大气设计风格，同时还借鉴了扁平化设计元素。</p>
						<p>3. <strong>响应式设计</strong>后续正在完善中，以便兼容多屏幕、多分辨率终端。</p>
						<p>4. 后端采用<strong>帝国CMS</strong>，全站静态页面一键生成，利于<strong>SEO优化</strong>。</p>
						<p class="project__intro__links">

						</p>
					</div>
					<div class="project__thumb">
						<img src="/picture/project-56pcplaypage.jpg" alt="码农地带（个人网站博客）" />
					</div>
				</section>
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">天津滨海金融科技</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list__item tech-tag-list__item-html">div+css</li>
								<li class="tech-tag-list__item tech-tag-list__item-css">Jquery</li>
								<li class="tech-tag-list__item tech-tag-list__item-nodejs">Siteserver CMS</li>
							</ul>
							<p class="project__intro__header__period">2014/6 至 2014/8</p>
						</header>
						<p>1. 网站后端采用<strong>Siteserver CMS</strong>，多站点支持，网站群管理。</p>
						<p>2. 网站前端界面翻版，去掉古老的表格布局，采用div+css布局，方便维护，易于<strong>SEO优化</strong>。</p>
						<p class="project__intro__links">

						</p>
					</div>
					<div class="project__thumb">
						<img src="/picture/project-56upload.jpg" alt="天津滨海金融科技" />
					</div>
				</section>


				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">武清小镇</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list__item tech-tag-list__item-html">WEBAPP</li>
								<li class="tech-tag-list__item tech-tag-list__item-css">PhoneGap</li>
								<li class="tech-tag-list__item tech-tag-list__item-javascript">UI设计</li>
							</ul>
							<p class="project__intro__header__period">2013/1 至 2012/9</p>
						</header>
						<p>1. 天津武清区社区生活类APP，包含<strong>衣食住行</strong>各个方面，与人们生活息息相关。</p>
						<p>2. WEBAPP界面采用<strong>流式布局</strong>，以便适应不同分辨率的移动设备终端。</p>
					</div>
					<div class="project__thumb">
						<img src="/picture/project-goscore.jpg" alt="武清小镇" />
					</div>
				</section>
			</div>
		</div>
	</section>
	</div>

</div>
