#page-nav{
	text-align: center;
	margin-top: 30px;
	.page-number{
		width: 25px;
		height: 25px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		display: inline-block;
		color: #3b8594;
		line-height: 25px;
		font-size: 14px;
		margin: 0 3px 30px;
		border:1px solid #3b8594;
		&:hover{
			background: #c9e8ef;
			color:#3b8594;
		}
	}
	.current{
		background: #3b8594;
		color:#FFF;
		cursor: default;
		&:hover{
		color:#FFF;
			background: #3b8594;
		}
	}
	.extend{
		color: #4d4d4d;
		margin: 0 27px;
		opacity: 0;
		&:hover{
			color: #5e5e5e;
		}
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}
