.toc-article {
	padding: 1em;
	position: relative;
	left:2em;
	border: 1px solid #e2e2e2;
    margin-right: 10px;
}
 
.toc-article .toc-title{
	padding-bottom: 0.8em;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
}
 
#toc {
	line-height: 1.1em;
	font-size: 0.8em;
	float: right;
	@media screen and (max-width: 600px){
		display: none;
	}
}
 
#toc .toc {
	padding: 0
}
 
#toc li , .toc li {
	list-style-type: none;
	margin-bottom: 10px;
}

#toc li a{
	color:#696969;
}
#toc li a:hover{
	color:#505050;
	text-decoration:underline;
}
#toc ol {
	margin: 10px 0px;
}
 
#toc .toc-child {
	padding-left: 1.5em
}